.outer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}
.inner-text{
    text-align: center;
    font-size: 4em;
    font-family: Pacifico;
    color: rgb(0, 0, 0);
}
