@keyframes profileanimation {
    from {margin-top: 100px;}
    to {margin-top: 0;}
}

.profile-canvas{
    height: 80%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pbut{
    padding: 0.5em 3em;
    border: none;
    background-color: rgba(188, 188, 188, 0.2);
    font-size: 1em;
    color: rgb(194, 39, 39);
    margin: 5px;
    width: 100%;
    border-radius: 1em;
}

.utilities{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
}

.heading{
    font-size: 1em;
    color: rgb(109, 109, 109);
    font-weight: bold;
    padding: 1em;
}
.values-light{
    font-size: 1.5em;
    color: black;
    font-weight:200;
}
.values-dark{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight:200;
}

.values-empty{
    font-size: 1.5em;
    color: rgb(255, 46, 46);
    font-weight:200;
}

.pbut:hover{
    background-color: rgba(188, 188, 188, 0.6);
    cursor: pointer;
}

.edit-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.edit-pencil-light{
    font-size: 0.8em;
    color: black;
}
.edit-pencil-dark{
    font-size: 0.8em;
    color: white;
}

.edit-pencil-light:hover{
    cursor: pointer;
}
.edit-pencil-dark:hover{
    cursor: pointer;
}
.edit-heading{
    padding: 1em 5em;
    font-size: 1em;
    font-weight: 300;
    background-color: white;
    color: black
}


.edit-input{
    width: 80%;
    margin: auto;
    border: none;
    padding: 1em;
    background-color: rgb(230, 230, 230);
    border-radius: 1em;
}


.edit-submit{
    width: 80%;
    margin: auto;
    border: none;
    background-color: rgb(103, 103, 167);
    color: white;
    border-radius: 1em;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.edit-submit:hover{
    background-color: rgb(118, 118, 165);
}

.info{
    animation: profileanimation;
    animation-duration: 0.5s;
}