@keyframes signinanimation {
    0% {background-color: #D2B48C;}
    50% {background-color: #C0965E;}
    100% {background-color: #9d7f57;}


}
.App{
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: signinanimation;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}