@keyframes signinanimation {
    0% {background-color: rgb(222, 223, 148);}
    20% {background-color: rgb(187, 107, 107);}
    40% {background-color: rgb(139, 195, 126);}
    60% {background-color: rgb(168, 154, 218);}
    80% {background-color: rgb(199, 141, 154);}
    100% {background-color: rgb(198, 160, 160);}


}
.App{
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: signinanimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}